.hero {
  margin-top: 80px;
}
.hero h1 {
  text-align: center;

  font-size: 45px;
  font-weight: 600;
}
.hero-title {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-text {
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}
.hero-action {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 30px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 50px;
}
.hero-connect {
  padding: 15px 30px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
}
.hero-resume {
  padding: 12px 65px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}
.hero-resume:hover {
  border: 2px solid #b415ff;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
}
.hero-connect:hover {
  background: #df8908;
}
@media (max-width: 768px) {
  .hero img {
    margin-bottom: 120px;
    width: 100%;
  }
  .hero h1 {
    margin-top: 30px;
    font-size: 40px;
    width: 100%;
    text-align: center;
  }
  .hero p {
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
    width: 100%;
    text-align: center;
  }
  .hero-action {
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .hero-connect {
    padding: 20px 30px;
    border-radius: 40px;
  }
  .hero-resume {
    padding: 20px 50px;
    border-radius: 40px;
  }
}
